{% extends 'app_container.html' %}

{% block content %}
<link 
    rel="stylesheet" 
    href="{{ url_for('static', filename='styles/sorting-algorithms.css') }}"
>
<script 
    src="{{ url_for('static', filename='scripts/sortingAlgorithms.js') }}" 
    defer
>
</script>

<div 
    class="sorting-options-label-container"
    onclick="optionsSelector.toggleOptionVisibility()"
>
    <div class="sorting-options-label-text arrow" id="dropdown-arrow">
        > 
    </div>
    <div class="sorting-options-label-text">
        Sorting Options
    </div>
</div>

<div 
    class="algorithm-selection-container hide-options" 
    id="selection-options"
>
    
    <div>
        <div class="selector-description">
            Algorithm
        </div>
        <select class="algorithm-selector" id="algorithm-option"></select>
    </div>

    <div>
        <div class="selector-description">
            Item Theme
        </div>
        <select 
            class="item-theme-selector" 
            id="theme-option"
            onchange="optionsSelector.themeChange()"
        >
        </select>
    </div>

    <div>
        <div class="selector-description">
            Number of Items
        </div>
        <div class="number-of-items-to-sort-container">
            <button 
                class="number-of-items-button red"
                onclick="optionsSelector.incrementItemCount(-1)"
            >
                -
            </button>
            <div class="number-of-items-text" id="count-option">
                7
            </div>
            <button 
                class="number-of-items-button green"
                onclick="optionsSelector.incrementItemCount(1)"
            >
                +
            </button>
        </div>
    </div>

</div>

<div class="start-button-container">
    <button class="start-button" id="start-button">
        Start Sorting 🐕
    </button>
</div>

<div class="sorted-items-container">
    <div class="sorted-items-header">
        Sort by lowest to heighest hunger level 
    </div>
    <div class="item-sorting-container" id="item-sorting">
        <!-- items will be injected -->
    </div>
</div>

{% endblock %}