body {
    margin: 0 0 0 0;
    background-color: #2a2a2a;
    font-family: 'Roboto', sans-serif;
}

div {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.app-container {
    min-width: 340px;
}

.logo-container {
    height: 100%;
    float: left;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 70%;
}

.header-container {
    background-color: #bc6ff1;
    height: 50px;
}

.header-container .left-side {
    margin-left: auto;
    float: right;
    margin-right: 0px;
    width: 50%;
    max-width: 200px;
}

.header-container .left-side a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}

.menu-button {
    display: none;
}

@media screen and (max-width: 600px) {
    .menu-button {
        display: block;
    }
}